<div class="main-card-container">
  <div class="main-card-container__img">
    <img src="../../../assets/images/img-main.png" alt="Artigo principal" />
  </div>
  <div class="text-card-container__text">
    <div class="text__header">
      <span class="category">{{ category }}</span>
      <span class="separator"> . </span>
      <span class="date">{{ date }}</span>
    </div>
    <div class="text__content">
      <div class="title">
        <span>{{ title }}</span>
      </div>
      <div class="description">
        <span>{{ description }}</span>
      </div>
    </div>
    <div class="text__footer">
      <div class="author-img">
        <img src="../../../assets/images/author.jpg" alt="">
      </div>
      <div class="author">
        <span class="author-name">{{ authorName }}</span>
        <span class="author-role">{{ authorRole }}</span>
      </div>
    </div>
  </div>
</div>
