<div class="secondary-card-container">
  <div class="first__container">
    <div class="secondary-card-container__img">
      <img src="../../../assets/images/img-secondary-1.png" alt="Artigo principal" />
    </div>
  </div>
  <div class="text-card-container__text">
    <div class="text__header">
      <span class="category">{{ category }}</span>
      <span class="separator"> . </span>
      <span class="date">{{ date }}</span>
    </div>
    <div class="text__content">
      <div class="title">
        <span>{{ title1 }}</span>
      </div>
      <div class="description">
        <span>{{ description1 }}</span>
      </div>
    </div>
    <div class="text__footer">
      <div class="author-img">
        <img src="../../../assets/images/author.jpg" alt="">
      </div>
      <div class="author">
        <span class="author-name">{{ authorName1 }}</span>
        <span class="author-role">{{ authorRole1 }}</span>
      </div>
    </div>
  </div>
</div>

<div class="secondary-card-container">
  <div class="second__container">
    <div class="secondary-card-container__img">
      <img src="../../../assets/images/img-secondary-2.png"
      style="height: 340px"
      alt="Artigo principal" />
    </div>
  </div>
  <div class="text-card-container__text">
    <div class="text__header">
      <span class="category">{{ category }}</span>
      <span class="separator"> . </span>
      <span class="date">{{ date }}</span>
    </div>
    <div class="text__content">
      <div class="title">
        <span>{{ title2 }}</span>
      </div>
      <div class="description">
        <span>{{ description2 }}</span>
      </div>
    </div>
    <div class="text__footer">
      <div class="author-img">
        <img src="../../../assets/images/author.jpg" alt="">
      </div>
      <div class="author">
        <span class="author-name">{{ authorName2 }}</span>
        <span class="author-role">{{ authorRole2 }}</span>
      </div>
    </div>
  </div>
</div>
